.bg-warning {
  --bs-bg-opacity: 1;
  background: linear-gradient(to right, #4c4c4c, #595959);
  color: rgb(rgb(255, 0, 0), green, blue);
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(240, 242, 255));
  background-color: rgb(214, 214, 214);
  background-color: rgba(30, 255, 0, 0.8);
  /* rojo semi-transparente */
  box-shadow: 0 0 8px rgba(30, 255, 0, 0.8), 0 0 16px rgba(30, 255, 0, 0.6);
  fill: #171622;
  stroke: #e8eaec;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background: linear-gradient(to right, #1f1f2e, #3a3a4f);
  background: -webkit-linear-gradient(left, #1f1f2e, #3a3a4f);
  background: -moz-linear-gradient(left, #1f1f2e, #3a3a4f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f1f2e', endColorstr='#3a3a4f', GradientType=1);

}