

                                                {% if Dato.idestatus == 13 %}

                                                <button class="accion-btn accion-right" type="submit" disabled>
                                                    EN TOLVA
                                                </button>
                                                {% else %}
                                                {% if Dato.idestatus == 3 or Dato.idestatus == 8 %}
                                                <form action="{% url 'proceso:E_Solicitud_Servidos' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="porcentaje"
                                                        value="{{ Dato.porcentaje }}">
                                                    <input type="hidden" name="fecha"
                                                        value="{{ Dato.FechaSol|date:'Y-m-d H:i' }}">
                                                    <button class="accion-btn accion-right" type="submit">
                                                        Editar ✎
                                                    </button>
                                                </form>
                                                {% endif %}
                                                {% endif %}